[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
api = {editable = true, path = ".", extras = ["testing"]}
pyramid-restful-framework = "*"
cryptacular = {editable = true, ref = "cb96fb3", hg = "https://bitbucket.org/dholth/cryptacular"}

[dev-packages]

[requires]
python_version = "3.6"
